body {
	background-color: #FFFFFF;
	min-width: 1200px;
}

div.form-row {
	margin-bottom: 5px;
}

label.form-label {
	font-weight: bold;
	vertical-align: top;
}

#loginPage label.form-label {
	display: inline-block;
	text-align: right;
	width: 85px;
}

#mainPage {
	display: none;
}