h2.title {
	text-align: center;
}

.form-horizontal {
	max-width: 1100px;
	margin-top: 10px;
}

.form-inline {
	max-width: 1100px;
	margin: 10px 0px 10px 0px;
}

#stepDataSearch, #tagNameDataSearch {
	min-width: 550px;
}

.table th {
	white-space: nowrap;
	vertical-align: top;
}

.table th i.fa {
	cursor: pointer;
}
.table th i.fa.inactive {
	opacity: 0.35;
}

.table td.usage-col {
	max-width: 350px;
}
